{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    h1 {}
</style>
<br />
<center><h2>Connexion</h2>
<br />

<p class="lead">Bonjour et Bienvenue sur la page de connexion de notre site.<br /> Merci de bien vouloir saisir votre login et votre mot de passe dans les endroits dédiés.</p></center>
  <form class="form-horizontal" method="post" action="/loginUser">
    <fieldset>
      <div class="form-group">
          <label for="nom" class="col-lg-2 control-label">Nom</label>
          <div class="col-lg-10">
              <input type="text" class="form-control" name="nom" id="nom" placeholder="nom" required>
          </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
          <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
      <center><label for="nom" class="col-lg-2 control-label">Vous n'êtes pas enregistré chez nous ? Alors rendez-vous ici : <a href="/register">Inscription</a></label></center>
    </fieldset>
  </form>
</div>
{% endblock %}