{% extends 'base.html.twig' %}

{% block title %}Liste des documents{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Liste des Fichiers</h1>
    <table class="table table-hover">
    <thead>
      <br>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">chemin</th>
          <th scope="col">Nom Fichier</th>
           <th scope="col">date</th>
         
        </tr>
      </thead>
      <tbody>
    {% for fichier in listFichier %}
        <tr class="table-active">
          <th scope="row">{{ fichier.id }}</th>
          <th scope="row">{{ fichier.chemin }}</th>
          <th scope="row">{{ fichier.nomDoc }}</th>
          <th scope="row">{{ fichier.date.format("d/m/Y")}}</th>
        </tr>
    {% endfor %}
      </tbody>
    </table>


  
</div>

{% endblock %}