{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    h1 {}
    form { margin : auto;}
</style>

<br />
<center><h2>Inscription</h2></center>
<br />

  <form class="form-horizontal" method="post" action="/createUser">
    <fieldset>
      <div class="form-group">
          <label for="nom" class="col-lg-2 control-label">Nom</label>
          <div class="col-lg-10">
              <input type="text" class="form-control" name="nom" id="nom" placeholder="nom" required>
          </div>
      </div>
      <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Prenom</label>
          <div class="col-lg-10">
              <input type="text" class="form-control" id="prenom" name="prenom" placeholder="prenom" required>
          </div>
      </div>
      <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">email</label>
          <div class="col-lg-10">
              <input type="text" class="form-control" name="email" id="email" placeholder="Email" required>
          </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
          <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}